POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_PORT=5432

APP_DATABASE_URL=postgresql+psycopg://app:app@postgres:5432/app
APP_SECURITY_PEPPER=dev-pepper-change-in-prod
APP_OTP_TTL_MINUTES=5
APP_OTP_MAX_ATTEMPTS=5
APP_OTP_BLOCK_MINUTES=15
APP_QR_TTL_HOURS=24
APP_REFRESH_SESSION_DAYS=30
BACKEND_PORT=8000
